<!-- Displays the list of all Favourite Maps of the user -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favourites</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script async src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"></script>
  <script defer src="/scripts/maps.js"></script>
  <script defer src="/scripts/app.js"></script>



</head>

<!-- A temporary internal css styling. Will be moved to a scss stylesheet later-->
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6477b9;
    color: white;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0px 40px;

  }

  #fav-display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 70%;
    height: 740px;
    z-index: 999;

  }

  #favourites-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 40px;
  }

  #fav-map-container{
    display: flex;
    width: 100%;
    height: 700px;
    z-index: 999;
  }

  #fav-screen {
    display: flex;
    justify-content: center;
    margin: 50px 50px 50px 40px;
    height: 900px;

  }

  h2 {
    padding-top: 200px;
    padding-left: 40px;
    margin: 0px;
  }

  #home-link {
  cursor: pointer;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

   .create-map-form{
      height: 50px;
      display: flex;
      align-items: flex-start;
    }

    #all-buttons{
    display: flex;
    justify-content: flex-start;
    }




</style>

</head>

<body>
  <header>
    <nav>
      <h1 id="home-link"> Wiki Map </h1>
      <div class="nav-links">

        <% if (userId) { %>

          <span style="margin: 10px"> <button class="new-map hidden">Create New Map</button> </span>

          <form action="/logout" method="POST">
            <span class="nav-item" style="margin: 10px"> Logged in as: <%= username %> </span>
            <button type="submit" name="Logout">Logout</button>
          </form>

          <% } %>
      </div>
    </nav>

    <h2> List of Favourite Maps </h2>

  </header>

  <div id="fav-screen">

    <div id="favourites-container"> </div>

    <% if (userId) { %>
      <div id="fav-display">
      <div id="all-buttons">

          <div id="create-maps-container"></div>

          <div class="create-map-form hidden">
            <form id="map-title-form">
              <label>Give your map a name</label>
              <input id="input-title" />
              <button type="click" class="save-map-button" id="save-map-button">Save Map</button>
            </form>
            <button type="click" id="reset" class="map-reset-button">Reset</button>
            <!--see if moving into form will make this work-->
          </div>
        </div>
        <% } %>

          <span style="margin-bottom: 10px">
            <div id="button-container"></div>
          </span> <!--new insert here-->

      <div id="fav-map-container"></div>
    </div>



  </div>


</body>

</html>
